::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: gray;
}

html {
  scrollbar-gutter: stable;
}

* {
  scrollbar-color: gray transparent;
}
